@charset "UTF-8";
/* Main Scss */
/* Código CSS Repetido - Generalizado */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #FEF7FA;
}

.day {
  background-color: #FEF7FA;
}

.night {
  background-color: #433A7B;
}

/* Variables */
/* Container general */
.container {
  margin-left: 5%;
  margin-right: 5%;
}

/* Botones */
.botones-nav {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  height: 36px;
  width: 144px;
  border: #110038, 1px;
}

.botones-nav-margin {
  margin-right: 16px;
}

.botones-buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  height: 36px;
  width: 10%;
  margin-top: 18px;
}

.texto-botones {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.texto-botones2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin-top: 10px;
}

.botones-rec {
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  height: 36px;
  width: 144px;
}

.botones-rec-color {
  background: #F7C9F3;
}

.botones-dropdown {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  height: 36px;
  width: 36px;
}

.menu-nav-sub {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  width: 150px;
  height: 36px;
  margin-top: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.menu-nav-sub-back {
  background-color: #F0F0F0;
}

/* Texto P */
.texto {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.texto2 {
  background-image: url("../../assets/lupa_inactive.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
}

.texto3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin: 7px;
  padding-left: 16px;
}

.texto-h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 700;
  margin-left: 16px;
}

.texto-recuadro {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 20px;
}

.texto-botones3 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.line-height {
  line-height: 33px;
}

/* GIFs */
.gif-title {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  height: 35px;
  width: 260px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.gif-sugerencias {
  height: 280px;
  width: 260px;
}

/* INDEX */
/* Header */
.encabezado {
  height: 23px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.logo {
  float: left;
  height: 64px;
  width: 102.6px;
}

.nav-right {
  float: right;
}

.arrow {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.menu-nav {
  text-decoration: none;
  list-style-type: none;
  margin-top: 44px;
  margin-bottom: 22px;
  height: 70px;
}

/* MENU DESPEGABLE */
.menu-nav2 {
  display: none;
  text-decoration: none;
  list-style-type: none;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  height: 102px;
  width: 170px;
  position: relative;
  margin-top: 5px;
}

.elegir-tema {
  float: right;
  margin-right: 16px;
}

.elegir-tema:hover > .menu-nav2 {
  display: block;
}

/* Buscador Principal */
.buscador {
  height: 99px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.buscador1 {
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  margin-top: 3px;
}

.buscador2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 1%;
  margin-right: 1%;
}

.buscador3 {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 85%;
  height: 48px;
  margin-right: 8px;
  margin-top: 12px;
}

/* Hoy te sugerimos */
.sugerimos {
  margin-top: 64px;
  height: 32px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.sugerencias {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* Resultados de búsqueda */
#searchResults {
  display: none;
}

/* CREAR GUIFOS */
/* Captura de vídeo */
.recuadro {
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  height: 386px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 75px;
  margin-bottom: 84px;
}

.recuadro1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  margin-top: 32.6px;
  margin-left: 25px;
}

.recuadro2 {
  margin-left: 73px;
  margin-top: 17px;
  margin-bottom: 28px;
}

.list-recuadro {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
  text-decoration: none;
}

.botones-recuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 250px;
  margin-right: 36px;
}

/* Variables */
/* HOVERS */
.texto-botones2:hover {
  border: 1px solid #110038;
  border-style: dotted;
}

.texto-botones2:active {
  color: grey;
  border: none;
}

.botones-nav:hover, .botones-nav:active {
  border-style: dotted;
  background-color: #CEA1B5;
}

.gif-sugerencias:hover {
  border: 2px dotted grey;
}
/*# sourceMappingURL=style.css.map */